<!-- Time for a little CSS! -->
<style type='text/css'>

html{
	background:url(noise-background.png);
}

.padded{
	padding:20px;
}

body{
	overflow-y:auto;
}

</style>

<!-- The Nitro logo off to the right. We're using direct style here. -->
<div style='vertical-align:middle;right:2%;width:240px;height:100%;position:fixed;'>
	
	<!-- The nitro logo itself. -->
	<img src="nitroLogo.png"/>

</div>

<div style='padding:25px;'>
	<b><u id='nitro_title'>Nitro Examples</u></b>
	<br>
	<div class='padded'>
	Nitro looks and works like Javascript.
	<br>
	It's completely optional; Use UI.document from e.g. C#.
	</div>
	<br>
	<div onmousedown='simpleNitro' class='padded'>
		Click Me to run some simple nitro!
	</div>
	<div onmousedown='elementByID' class='padded'>
		Click here to affect an element by its ID.
	</div>
	<div onmousedown='styleMe' class='padded'>
		The style of this element changes when you click me.
	</div>
	<div onmousedown='animateMe' class='padded'>
		I animate when you click me.
	</div>
	<div onmousedown='runGameCode' class='padded'>
		Click here to run game functions in C# and Unity Javascript.
	</div>
	<br>
	Dropdown onchange event: <select onchange="dropdownChange">
		<option value='ChangeMe'>Change me</option>
		<option value='ToThis'>To this!</option>
	</select>
	
</div>

<script type='text/nitro'>

/*
--- This version of Nitro is now depreciated ---

Use C# instead, or request the new JavaScript engine.

*/

// Nitro looks very similar to Unity Javascript.
// There are differences though! Functions must be given types.
// Make sure you check out the nitro website for more information on what the differences are:
// http://nitro.kulestar.com/

function simpleNitro(e:UIEvent){ // <- Notice the :type here. This generally makes Nitro go faster than typical JS.
	
	// Add a console message (console.log is a wrapper for Unity's debug.log):
	console.log("Welcome to nitro! :) ");
	
	// Let's rewrite what the element says:
	e.htmlTarget.innerHTML="Check out the console!";
	
}



function styleMe(e:UIEvent){
	
	// Let's make the font go green:
	e.htmlTarget.style.color="#00ff00";
	
}



function animateMe(e:UIEvent){
	
	// Position required for left etc to work:
	e.htmlTarget.style.position="relative";
	
	e.htmlTarget.animate("left:40px;opacity:0;",1f); //.ondone(doneAnimation); 
	// ondone is no longer supported; use OnDone from C# or new JS instead (Transition to new JavaScript engine)

}

/*
function doneAnimation(a:UIAnimation){
	
	console.log("done playing the animation!");
	
}
*/

function runGameCode(e:UIEvent){
	// Nitro can call your games functions directly for excellent flexibility.
	// NOTE: Nitro features security domains. Default is full access.
	// If you're streaming in code or if players can write code, don't forget to use a secure domain!
	
	// Let's call a static c# game function:
	NitroExampleClass.Hello();
	
	// How about a static JS game function? That works too!
	NitroExampleJS.Hello();
	
	// How about making objects? That works too!
	var item=new EpicItem("194",14);
	
	// Properties [uses get/set]:
	item.Quantity++;
	
	// Fields:
	item.ID="195";
	
	// Methods:
	item.AddOne();
	
	// Note that nitro is case insensitive:
	console.log(item.quantity.tostring());
	
}




function elementByID(e:UIEvent){
	
	// Getting an element by it's ID.
	// Making multiple changes? Store it in a variable for the best performance:
	var element=((document.getElementById("nitro_title")):HtmlElement);
	
	// Update innerHTML:
	element.innerHTML="I wonder what changed?";
	
	// And make it go a fun blueish colour:
	element.style.color="#C3DEFA";
	
}

// Dropdown Nitro:
function dropdownChange(){
	
	console.log("You have selected: "+this.value);
	
}


// Anything you'd like to run straight away just goes outside any functions:
console.log("Hello! This is always called when the script is loaded.");

</script>