﻿<style type='text/css'>

html{
	background:url(noise-background.png);
}

#title{
	width:100%;
	text-align:center;
	font-size:40px;
	position:absolute;
	top:50%;
}

body{
	height:100%;
}
</style>

<!-- The PowerUI logo in the middle of the screen. -->
<div style='background:url(powerUI-logo.png) no-repeat;background-position:center;height:100%;position:fixed;'></div>

<div id='title'>Curved Text Can Be Animated Too</div>

<script type='text/nitro'>

// NOTE: foreach(var letter in title.letters){} is generally better than the below.

// Arch settings:
var maxHeight=50f;
var maxAngle=25f;

// Grab the title:
var title=(document.getElementById("title")):HtmlElement;

// Split it up into its individual letters (so each one is its own element):
title.lettering();

// How many letters?
var letterCount=title.letterCount;

var angle=0f;

var deltaAngle=(2f * Mathf.PI)/(letterCount-1):float;

// Arch each one individually:
for(var i=0;i<letterCount;i++){
	
	// Grab the letter:
	var ele=(title.childNodes[i]):HtmlElement;
	
	// Tell them to rotate around their midpoint:
	ele.style.transformOrigin="50% 50%";
	ele.style.position="relative";
	
	// Get the rotation as a string in degrees:
	var rotation=(mathf.Cos(angle)*maxAngle)+"deg";
	
	// Get the top offset as a string in degrees:
	var top=(mathf.Sin(angle)*maxHeight)+"px";
	
	// Animate there now (using the "ease" CSS function):
	ele.animate("top:"+top+";transform:rotate("+rotation+")",2f,"ease");
	
	// Increase the angle:
	angle+=deltaAngle;
	
}

</script>